/target/
/data/
.idea/
*.iml
.classpath
.project
.settings/
.env
.env.*
!.env.example
.factorypath
.DS_Store
Thumbs.db
*.log
logs/
*.zip
.mvn/wrapper/dists/
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
